body {
  color: white;
  background: #222;
}

div {
  margin: 5vh 0;
  text-align: center;
}

input[type="range"] {
  width: 100%;
  margin: 20px;
}

form>p {
  margin: 0;
  text-align: center;
}

div>p {
  height: 32px;
  height: 32px;
  margin: 0;
}

body>p {
  margin: 0.3em;
  text-indent: 1em;
}

div span::selection {
  background: transparent;
}

div span {
  display: inline-block;
  line-height: 32px;
  height: 32px;
  width: 32px;
}