body {
  color: white;
  background: #222;
}

div {
  margin: 5vh 0;
  text-align: center;
}

input[type="range"] {
  width: 100%;
}

  text-align: center;
}

div>p {
  margin: 0;
  height: 32px;
}

div span::selection {
  background: transparent;
}

div span {
  display: inline-block;
  line-height: 32px;
  height: 32px;
  width: 32px;
}